*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #333;
    padding: 10px 20px;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;
    padding: 20px;

}
nav ul li a {
    text-decoration: none;
    color:black;
    font-weight:normal;
}
nav button {
    background-color: #007BFF;
    color:black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.hero {
    position: relative;
    width: 100%;
}
.hero img{
    width: 100%;
    height: 500px;
    display: block;
    object-fit: cover;
}
.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 60%;
}
.hero-content h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.hero-content p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 30px;
    font-weight:bold;
}
.hero button {
    background-color: #007BFF;
    color: white;
    border: 8px solid #0056b3;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
hero button:hover {
    background-color: #0056b3;
}
.speakers{
    width: 90%;
    margin: 50px auto;
}

.speakers h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    color: black;
}

.speaker-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.speaker-card{
    background: white;
}

.speaker-card img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    display: block;
}

.speaker-info{
    padding: 20px;
}

.speaker-info h5{
    color: #007BFF;
    font-size: 12px;
    margin-bottom: 8px;
    
}

.speaker-info h3{
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

.speaker-info p{
    color: black;
    font-size: 14px;
}